<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="opened$ | async" mat-icon-button (click)="closeSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <button *ngIf="!(opened$ | async)" mat-icon-button (click)="openSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer class="example-container__sidebar" mode="side" [opened]="opened$ | async">Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>
